<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <header>
        <h1 class="is-primary">Tech Blog</h1>
    </header>
    <nav class="columns">
        <div class="column is-one-fifth ">
            <a href="/">Homepage</a>
            <a href="/dashboard">Dashboard</a>
        </div>
        {{#if logged_in}}
        <div class="column is-5 is-offset-8" >
            <a href="/" id="logout">Log Out</a>
        </div>
        {{else}}
        <div class="column is-5 is-offset-8">
            <a href="/login">Log In/Sign Up</a>
        </div>
        {{/if}}
    </nav>
    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"> </script>
    {{/if}} 
</body>
</html>