<h3 class="center-flex">Edit your blog post here:</h3>

<form class="form m5 border">
    <div class="field">
        <label class="label" for="blog-title">Blog Title:</label>
        <input class="input is-medium" type="text" id="blog-title" name="blog-title" value="{{blog.title}}">
    </div>
    <div class="field">
        <label class="label" for="blog-content">Blog Content:</label>
        <input class="input is-medium" type="text" id="blog-content" name="blog-content" value="{{blog.content}}">
    </div>
    <button class="button is-success is-medium" type="submit" id="blog-update">Edit Post</button>
</form>


<div class="column is-half">
    <button class="button is-danger is-medium is-fullwidth" id="blog-delete">Delete Post</button>
</div>


<script src="/js/blog-edit.js"></script>