<form class="form">
    <h3>Edit your blog post here:</h3>
    <div class="field">
        <label class="label" for="blog-title">Blog Title:</label>
        <input class="input is-medium" type="text" id="blog-title" name="blog-title" value="{{blog.title}}">
    </div>
    <div class="field">
        <label class="label" for="blog-content">Blog Content:</label>
        <input class="input is-medium" type="text" id="blog-content" name="blog-content" value="{{blog.content}}">
    </div>
    <button class="button is-success is-medium" type="submit" id="blog-update">Edit Post</button>
</form>

<button class="button is-success is-medium" id="blog-delete">Delete Post</button>

<script src="/js/blog-edit.js"></script>