<h3 class="center-flex title-nl">Edit your comment below!</h3>
<form class="form m5 border" data-blog-id="{{blogId}}">
    <div class="field comment-edit-div">
        <textarea class="textarea" type="text" id="comment" name="comment">{{comment.content}}</textarea>
        <button class="button is-link is-medium comment-edit-button" type="submit">Submit Changes</button>
    </div>
</form>

<script src="/js/comment-edit.js"></script>