<h3 class="center-flex title-nl">Edit your comment below!</h3>
<form class="form m5 border" data-blog-id="{{blogId}}">
    <div class="field">
        <input class="input is-medium" type="text" id="comment" name="comment" value="{{comment.content}}">
    </div>
    <button class="button is-link is-medium" type="submit">Submit</button>
</form>

<script src="/js/comment-edit.js"></script>