{{#each blogs as |blog|}}
<div class="center-flex-vert m5 border">
    <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    <p>Created by {{blog.user.username}} on {{format_date blog.date_created}}</p>
</div>
{{/each}}