{{#each blogs as |blog|}}
<div class="center-flex-vert m5 border">
    <a class="title" href="/blog/{{blog.id}}">{{blog.title}}</a>
    <p>Created by 
        <span class="username">{{blog.user.username}}</span>
        <span class="date"> on {{format_date blog.date_created}}</span>
    </p>
</div>
{{/each}}