<form class="login">
    <h3>Login</h3>
    <div class="field">
        <label  class="label" for="username">Username:</label>
        <div class="control">
            <input class="input is-medium"type="text" id="username" name="username">
        </div>
    </div>    
    <div class="field">
        <label class="label" for="password">Password:</label>
        <div class="control">
            <input class="input is-medium" type="password" id="password" name="password">
        </div>
    </div>
    <button class="button is-success is-medium" type="submit">Login</button>
</form>

<form class="signup">
    <h3>Signup</h3>
    <div class="field">
        <label class="label" for="signup-username">Username:</label>
        <div class="control">
            <input class="input is-medium" type="text" id="signup-username" name="username">
        </div>
    </div>
    <div class="field">
        <label class="label" for="signup-password">Password:</label>
        <div class="control">
            <input class="input is-medium" type="password" id="signup-password" name="password">
        </div>
    </div>
    <button class="button is-success is-medium" type="submit">Signup</button>
</form>
<script src="/js/login.js"></script>