:root {
    --border: #574b5e3a;
    --soft-black: #1f1f1f;
    --alabaster: #E0E2DB;
    --timberwolf: #D2D4C8;
    --tea-green: #D3EFBD;
    --cornflower-blue: #5995ED;
    --burnt-sienna: #D57A66;
}

html {
    background-color: var(--timberwolf);
}

form {
    width: 98%;
}

header {
    background-color: var(--soft-black);
}

nav {
    background-color: var(--alabaster);
}

nav a {
    background-color: var(--tea-green);
    color: var(--cornflower-blue);
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header-border {
    width: 100%;
    height: 1px;
    border: 1px solid var(--border);
}

.center-flex {
    display: flex;
    justify-content: center;
}

.comment-update {
    margin-top: 8px;
    margin-bottom: 5px;
}

.center-flex-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-img {
    height: auto;
    width: 320px;
    margin: 10px 0px;
    border-radius: 5px;
}

.title-text {
    font-size: 200%;
    color:var(--cornflower-blue);
}

.current-user {
    color: var(--burnt-sienna);
}

.blog-card {
    width: 80%;
    background-color: var(--tea-green);
}

.blog-cards {
    margin: 0px 5px 5px 5px;
}

.hp-card, .login-card, .db-card, .blog-form {
    background-color: var(--tea-green);
}

.hp-card, .db-card {
    text-align: center;
}

.comment-card {
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--tea-green);
}

.user-comment-text {
    width: 80%;
    padding-right: 10px;
    word-wrap: break-word;
}

.comment-text {
    width: 100%;
    word-wrap: break-word;
}

.comment-buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.comment-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-edit-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.comment-edit-button {
    margin-top: 10px;
}

.comment-edit-form {
    background-color: var(--tea-green);
}

.blog-border {
    width: 100%;
    height: 1px;
    border: 1px solid var(--border);
    margin: 10px 0px;
}

.db-border {
    width: 100%;
    height: 1px;
    border: 1px solid var(--border);
}

.db-blogs {
    background-color: var(--alabaster);
}

.db-user {
    flex-wrap: wrap;
}

.variable {
    color: var(--cornflower-blue)
}

.new-comment-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--tea-green);
}

.new-blog-button, .edit-blog-button {
    display: flex;
    width: 100%;
}

.m5 {
    margin: 5px;
}

.m0 {
    margin: 0px !important;
}

.p5 {
    padding: 5px;
}

.text-black {
    color: #1f1f1f;
}

.border {
    padding: 5px;
    border: 2px solid var(--border);
    border-radius: 5px;
}

.username {
    font-weight: bold;
}

.date {
    font-family: "Courier New", monospace;
    font-size: 85%;
}

@media screen and (min-width: 576px) {
    .title-img {
        width: 400px;
    }
    
    .blog-cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 15%;
        min-width: 80%;
    }
    .hp-card {
        width: 40%;
    }

    .login-cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .login-card {
        width: 48%;
    }

    .db-card {
        width: 80%;
    }
    .new-blog-button {
        width: 30%;
    }
}

@media screen and (min-width: 768px) {
    .title-img {
        width: 500px;
    }
    
    .blog-cards {
        margin-left: 8%;
    }
    .hp-card {
        width: 45%;
    }

    .login-cards {
        margin-left: 13%;
    }
    .login-card {
        width: 80%;
    }

    .comment-edit-div {
        align-items: flex-start;
    }

    .db-card {
        width: 45%;
    }
    .blog-form {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .blog-cards {
        margin-left: 2%;
    }
    .hp-card {
        width: 48%;
    }

    .login-cards {
        margin-left: 2%;
        width: 100%;
    }
    .login-card {
        width: 48%;
    }

    .db-card {
        width: 48%;
    }
}